{% extends 'rate_my_walk/base.html' %}
{% block title_block %}
	Logged Out
{% endblock %}
	
{% block body_block %}
<h1>Logged Out</h1>

<p>
	You have been successfully logged out. Thanks for spending time on Rango!
</p>
{% endblock %}


{% extends 'rate_my_walk/base.html' %}

{% block title_block %}
    Logged Out
{% endblock %}

{% block body_block %}
<div class = "jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Logged Out</h1>
        </div>
</div>


<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">

<div class="container">
    <p> You have been successfully logged out. Thanks for spending time on RateMyWalk! </p>
</div>

{% endblock %}