{% extends 'rate_my_walk/base.html' %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<div class = "jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Change Password</h1>
        </div>
</div>


<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">

<div class="container">
	<div class="row">
	<div class="form-group">
	<form role="form"method="post"action=".">	
		{%csrf_token%}
		<div class="form-group">
		<p class="required"><label class="required"for="id_old_password">
			Old Password:</label>
		<input class="form-control"id="id_old_password"name="oldpassword1"type="password"/>
		<span class="helptext">
			Please enter your old password, for security’s sake
		</span>
		</p>
		<p class="required"><label class="required"for="id_new_password1">
			New Password:</label>
		<input class="form-control"id="id_new_password1"name="password1"type="password"/>
		</p>
		<p class="required">
		<label class="required"for="id_new_password2">
			New Password confirmation:</label>
		<input class="form-control"id="id_new_password2"name="password2" type="password"/>
		<span class="helptext">
			Enter your new password again so we can verify you typed it in correctly.
		</span>
		</p>
		</div>
		<!--I need to make this redirect to the password change done template but don't know how -->
		<button type="submit"class="btn btn-primary">Submit</button>
		</form>
		</div>
	</div>
</div>
{% endblock %}