#headerlogo {
    float: left;
    width: 80px;
}

#footer {
    background: dark;
}

.navbarText{
    color: white;
}

#contact_usFooter{
    color: white;
    float: right;
}

.formBoxesHeader {
    border-style: groove;
    padding: 5px;
    color:lightgray;
    border-bottom: none;
}

.formBoxes {
    border-style: groove;
    padding: 5px;
}

#walkImage {
    width: 100%;
}

#commentScrollbox {
    height: 300px;
    overflow-y: scroll;
}

#fixedRow {
    width: 100%;
}
