{% extends 'rate_my_walk/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}

<div class = "jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">About</h1>
    </div>
</div>

<div class="container">
    <h3>Our objective is to create a walking social media in Glasgow 
        for anybody to use.</h3>
    
    <br />
    
    <div>
        <h5>Here are some reasons we have built this platform</h5>
		<br />
        <ul class="list-unstyled">
            <li>
                <p><em>‘I need an easy way of finding what paths are good in Glasgow for walking, and how long they’ll take so I can fit them into my busy schedule.’</em> Alice, 29</p>
                
                <p><em>'I need a way of finding routes in my area of Glasgow that are manageable but will take me out of my comfort zone.'</em> Bert, 49</p>
                
                <p><em>'I want to explore family friendly parks and walking routes near me to have some exercise during lockdown with my kids.'</em> Maria, 35</p>
            
            </li>
        
        
        </ul>

    </div>
    

</div>

{% endblock %}