{% extends 'rate_my_walk/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Walks
{% endblock %}

{% block body_block %}
<div class = "jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Contact Us</h1>
    </div>
</div>

<div class="container">
    If you have any suggestions on how we can improve our website please contact one of us below.
    <br /> James - 2469702S@student.gla.ac.uk
    <br /> Paul - 2139206E@student.gla.ac.uk
    <br /> Ryan - 2469038G@student.gla.ac.uk
    <br /> Zsolt - 2472886T@student.gla.ac.uk
</div>

{% endblock %}