{% extends 'rate_my_walk/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Walks
{% endblock %}

{% block body_block %}
<div class = "jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Contact Us</h1>
    </div>
</div>

<div class="container">
    If you have any suggestions on how we can improve our website please contact one of us below. <br />
    <br /> <a href="mailto:2469702S@student.gla.ac.uk?subject=RateMyWalk improvement">James</a>
	<br /> <a href="mailto:2139206E@student.gla.ac.uk?subject=RateMyWalk improvement">Paul</a>
	<br /> <a href="mailto:2469038G@student.gla.ac.uk?subject=RateMyWalk improvement">Ryan</a>
	<br /> <a href="mailto:2472886T@student.gla.ac.uk?subject=RateMyWalk improvement">Zsolt</a>
	<br />
	<br />
</div>

{% endblock %}