{% extends 'rate_my_walk/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Walkers
{% endblock %}

{% block body_block %}
<div class = "jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Walkers</h1>
        </div>
</div>


<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">

<div class="container">
	<div class="row">
		{% if user_profile_list %}
		<div class="panel-body">
			<div class="list-group">
			{% for user_profile  in user_profile_list %}
				<div class="list-group-item">
					<h4 class="list-group-item-heading">
						<a href="{% url 'rate_my_walk:profile' username=user_profile.user.username%}">
							{% if user_profile.picture %}
								<img class="profilepic"
								src="{{ user_profile.picture.url }}" width="64" height="64"
								alt="No picture" />
                            {% else %}
								<img src="{% static 'images/RMWlogo.jpg' %}" width="64" height="64" alt="Placeholder image" />
                            {% endif %}
                            {{ user_profile.user.username }} - {{ user_profile.website }}
							
						</a>
					</h4>
				</div>
			{% endfor %}
			</div>
		</div>
		{% else %}
		<p>There are no walkers yet.</p>
		{% endif %}
	</div>
</div>
{% endblock %}