{% extends 'rate_my_walk/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Walkers
{% endblock %}

{% block body_block %}
<div class = "jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Walkers</h1>
        </div>
</div>

<div class="container">
	<div class="row">
		{% if user_profile_list %}
		<div class="panel-body">
			<div class="list-group">
			{% for user_profile  in user_profile_list %}
				<div class="list-group-item">
					<h4 class="list-group-item-heading">
						<a href="{% url 'rate_my_walk:profile' username=user_profile.user.username%}">
                            <img class="profilepic"
                                 src="{{ user_profile.picture.url }}" width="64" height="64"
                                 alt="No picture" />
                            {{ user_profile.user.username }} - {{ user_profile.website }}
							
						</a>
					</h4>
				</div>
			{% endfor %}
			</div>
		</div>
		{% else %}
		<p>There are no walkers yet.</p>
		{% endif %}
	</div>
</div>
{% endblock %}