{% extends 'rate_my_walk/base.html' %}

{% block title_block %}
    Register - Walker Profile
{% endblock %}

{% block body_block %}
<div class = "jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Create Walker Profile Here</h1>
        </div>
</div>

<div class="container">
    <div class="row">
        <div id="fixedRow">
            <form method="post" action="{% url 'rate_my_walk:register_profile' %}", enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="formBoxesHeader bg-dark">
                    {{ field.errors }}
                    {{ field.help_text }}<br />
                </div>
                <div class="formBoxes">
                    {{ field }}<br /><br />
                </div>
                <div class="p-2"></div>
            {% endfor %}
                <br />
                <button class="py-1 mb-2 bg-dark rounded btn" type="submit" name="submit">
                        <p class="buttonText">Create Walker Profile</p>
                </button>
                <div class="p-5"></div>
        </form>
        </div>
    </div>
</div>

{% endblock %}