{% extends 'rate_my_walk/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{% if selected_user == user %}
		My Account
	{% else %}
		Profile for {{ selected_user.username }}
	{% endif %}
{% endblock %}

{% block body_block %}

<div class = "jumbotron p-4">
    <div class="container">
		{% if selected_user == user %}
		<h1 class="jumbotron-heading">Welcome to your account, {{selected_user.username}}</h1>
		{% else %}
			<h1 class="jumbotron-heading">{{selected_user.username}}'s Profile</h1>
		{% endif %}
        
    </div>
</div>

<div>
	<div class="container">
		<div class="row">
        
        {% if user_profile.picture %}
            <img class="profilepic"
             src="{{ user_profile.picture.url }}" 
             alt="{{selected_user.username}}'s profile picture" />
            <br />
        {% else %}
            You dont have a profilepic!
        {% endif %}
            
		<div>
			{% if selected_user == user %}
			<form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                <button class="py-1 mb-2 bg-dark rounded btn" id="updateProfileButton" type="submit" name="submit">
                    <p class="buttonText">Update info</p>
                </button>
            </form>
			{% endif %}
			<p>
				<strong>Link to {{user_profile.user.username }}'s social media:</strong>
				<a href="{{user_profile.website }}">{{user_profile.website }}</a>
			</p>
		</div>
	</div>
	<div>
		{% if selected_user == user %}
		    <div class="row">
			<div class="col-md-6">
				<h5>You can change your password here: </h5>
    </div>
			<div class="col-md-4">
        <div class="py-1 mb-2 bg-dark rounded">
            <nav class="nav d-flex justify-content-center">
                <a class="p-2 link-secondary" href="{% url 'auth_password_change' %}"><p class="navbarText">Change Password</p></a>
            </nav>
        </div>
    </div>
		</div>
		{% endif %}

<div>
    <h5>{{selected_user.username}}'s Walks</h5>
    
	{% if walks %}
		<ul>
		{% for walk in walks %}
			<div>
                <li>
                    <a href="{% url 'rate_my_walk:showWalk' walk.slug %}">{{ walk.name }}</a>
                </li>
            </div>
		{% endfor %}
		</ul>
	{% else %}
		<p><strong>{{selected_user.username}} hasn't uploaded any walks yet.</strong></p>
	{% endif %}
</div>

{% endblock %}